<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773769550807-bq01jg7uhleoldag490190eqopin0pkj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773769550807-bq01jg7uhleoldag490190eqopin0pkj</string>
	<key>API_KEY</key>
	<string>AIzaSyDI4K1qmhixdm7HIjgT3P1OC0mQvVRYr3w</string>
	<key>GCM_SENDER_ID</key>
	<string>773769550807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.drp29</string>
	<key>PROJECT_ID</key>
	<string>enprogress-51610</string>
	<key>STORAGE_BUCKET</key>
	<string>enprogress-51610.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773769550807:ios:4479ccb83aa7669bd04992</string>
	<key>DATABASE_URL</key>
	<string>https://enprogress-51610.firebaseio.com</string>
</dict>
</plist>